.flex-container {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container > div {
    background-color: aquamarine;
    margin: 1em;
}